/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/*#map {
  height: 100%;
}*/
#map {
  width: 700px;
  height: 500px;
  background-color: #CCC;
  margin: auto;

}

.markerInfoPhoto {
  width: 250px;
  height: auto;
  margin: auto;
  display: block;
}

/*set the size of greeting and instructions*/
#mapTitle{
  text-align: center;
  margin:3px;
  padding: 1px;
  font-family:'IM Fell English SC', serif;
  font-size: 1.7em;
}

#mainMapBackground{
  background-color: rgba(205,163,79, 0.3);

}
