/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/*#map {
  height: 100%;
}*/
#map {
  width: 75%;
  height: 65%;
  background-color: #CCC;
  margin: auto;
}

.markerInfoPhoto {
  width: 250px;
  height: auto;
  margin: auto;
  display: block;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
