/*.logo-small {
  height: 100px;
  width: auto;
}*/
nav, .nav-wrapper {
  min-height: 80px;
  line-height: 80px;
}
@media only screen and (min-width: 601px)
#nav-header, nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 80px;
  line-height: 80px;
}
main {
  min-height: 500px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
