.first_row {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 260px;
}

.second_row {
  height: 260px;
}

#townPhoto {
height: 250px;
/*background-color: blue;*/
}

img#image {
  display: block;
  margin-top: 30px;
  width: 300px;
  height:200px;
}

#townDetails {
  height: 250px;
  /*background-color: yellow*/
}

.buttons {
  height: 250px;
  /*background-color: blue*/
}

.btn {
  margin-left: 25%;
  margin-top: 50px;
}

p#townDescThen {
  height: inherit;
  /*width: 33%;*/
  /*background-color: red*/
}

#townDescNow {
  height: inherit;
  /*width: 33%;*/
  /*background-color: green*/
}

#townMap {
  height: inherit;
  width: 33%;
  /*background-color: red*/
}
