.first_row {
  margin-top: 30px;
  margin-bottom: 70px;
  height: 260px;
}

.second_row {
  height: 260px;
  margin-bottom: 100px;
}

#townPhoto {
height: 280px;
background-size: cover;
background-repeat: no-repeat;
margin-left: 30px;
}

/*#image {
  display: block;
  margin-top: 30px;
  width: 300px;
  height: 200px;
}*/

#townDetails {
  height: 250px;
  width: 350px;
}

.buttons {
  height: 250px;
}

.btn {
  margin-left: auto;
  margin-top: 50px;
  background-color:#373f27;
}

#townDescThen {
  height: inherit;
}

#townDescNow {
  height: inherit;
}

#map {
  width: 370px;
  height: 250px;
}

#townDetails{
  /*border: .5px solid grey;*/
}
