.town_profile_first {
  height: 260px;
}

.town_profile_second {
  height: 260px;
}

#townPhoto {
max-width: 100%;
max-height: 250px;
  background-color: blue
}

#townDetails {
  width: 33%;
  height: 250px;
  background-color: yellow
}

#visit_buttons {
  height: 250px;
  width: 33%;
  background-color: blue
}

#btn {
  /*float: left;
  /*position: relative;
  left: 30px;*/*/
}

#townDescThen {
  height: inherit;
  background-color: red
}

#townDescNow {
  height: inherit;
  width: 33%;
  background-color: green
}

#townMap {
  height: inherit;
  width: 33%;
  background-color: red
}
